#galeria img {
    width: 500px;
}
body {
    margin: auto;
    width: 80%;
    
}
#galeria {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: aquamarine;
}